:root {
    --box-shadow-size: 2px;
    --frame-margin: 1em;
}

@font-face {
    font-family: 'windows regular';
    src: url('../assets/fonts/Windows\ Regular.ttf') format('truetype');
    font-weight: 100 900;
}

html, body {
    height: 100dvh;
    width: 100dvw;
    overflow: clip;
    margin: 0;
    padding: 0;
    position: relative;
}

body {
    display: flow-root;
    background-image: url('/assets/images/background.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top center;
}

* {
    font-family: windows regular;
}